body {
    margin-bottom: 10%;
}

td, th {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.centered-cell {
    text-align: center;
}

.unscored-cell {
    text-align: center;
    color: rgb(112, 112, 112);
    cursor: default;
}

.selectable-cell {
    text-align: center;
    color: rgb(112, 112, 112);
    cursor: pointer;
}

.selectable-cell:hover {
    background-color: rgb(255, 255, 197);
}

.scored-cell {
    text-align: center;
    color: black;
}

.totals-cell {
    text-align: center;
    color: black;
    font-weight: bold;
}

.die-in-play, .die-kept {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.dice-area {
    display: inline-block;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

.dice-area-label {
    display: inline-block;
    /* border: 1px solid; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75px;
}
